<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Posts</title>
  <style>
    body { background-color: #D9EFF9; }
  </style>
</head>
<body>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p><%= link_to "Show this post", post %></p>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path %>
</body>
</html>